/home-assistant_v2.db-wal
/home-assistant_v2.db-shm
/home-assistant_v2.db
/home-assistant.log*
/secrets.yaml
/.storage/
/known_devices.yaml
/known_devices_BT.yaml
/tts/
/documentation/Configuración HA y Alexa para plugin haaska.md
/plantillespendents.txt
/wificheck.old
/wificheck.sh
/wificheck.log
.vscode/settings.json
.vscode/sftp.json