- alias: 'ESPHome1 led on pir'
  trigger:
    platform: state
    entity_id: 'binary_sensor.esphome1_motion'
    to: 'off'
  action:       
    - service: light.turn_off
      data:
        entity_id: light.esphome1_light
        transition: 1
